@page "/about"
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="css/AboutAss/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="css/AboutAss/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <link rel="stylesheet" href="css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="css/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="css/assets/css/vanilla-zoom.min.css">
</head>

<body>
        <header class="text-center text-white masthead" style="background: url('css/img/Osc/bg_image_2.jpg')no-repeat center center; background-size: cover; height: 393px; ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto position-relative">
                        <h1 class="mb-5">Sobre nosotros y nuestro proyecto.</h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="text-center bg-light features-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon"><i class="icon-screen-desktop m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                            <h3>Responsiva.</h3>
                            <p class="lead mb-0">Esta pagina es responsiva para su comodidad, al igual que puede funcionar en cualquier navegador.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon"><i class="icon-layers m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                            <h3>Universidad Tecnológica Metropolitana.</h3>
                            <p class="lead mb-0">Esta creada por alumnos de la UTM como un proyecto de la materia de Aplicaciones web para 14.0.</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                            <div class="d-flex features-icons-icon"><i class="icon-check m-auto text-primary" data-bss-hover-animate="pulse"></i></div>
                            <h3>Fácil para usar.</h3>
                            <p class="lead mb-0">Nos esforzamos para que sea sencilla de entender y de usar.</p>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-5 feature-box">
                            <i class="icon-star icon"></i>
                            <h4>Universidad Tecnológica Metropolitana</h4>
                            <p>La escuela nos hizo pensar este proyecto, para despues pensar una solución para este mismo.</p>
                        </div>
                        <div class="col-md-5 feature-box">
                            <i class="icon-pencil icon"></i>
                            <h4>Reportar es fácil.</h4>
                            <p>Basta con abrir el apartado ingresar los datos y enviar el reporte.</p>
                        </div>
                        <div class="col-md-5 feature-box">
                            <i class="icon-screen-smartphone icon"></i>
                            <h4>¿Por qué es responiva?</h4>
                            <p>Esta página es responsiva para poder ser usada en cualquier dispositivo con navegador y conexión a internet.</p>
                        </div>
                        <div class="col-md-5 feature-box">
                            <i class="icon-refresh icon"></i>
                            <h4>Es compatible con cualquier navegador.</h4>
                            <p>Para su mayor comodidad y preferencia, esta página puede ser visitada en cualquier navegador.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="showcase">
            <div class="container-fluid p-0">

                <div class="row g-0">
                    <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url('css/img/About/Trabajo.jpg');"><span></span></div>
                    <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                        <h2 style="width: 374.5px;">¿Cómo surgió el proyecto?</h2>
                        <p class="lead mb-0" style="width: 431.5px;">Este proyecto surgió como una idea aleatoria durante nuestro tercer cuatrimestre en la materia de Integradora. Inicialmente fue propuesta como un proyecto NO tecnológico, el cual buscaba darle solución a un problema de nuestra localidad, las fallas en el alumbrado público.&nbsp;</p>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('css/img/About/Luz.jpg');"><span></span></div>
                    <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                        <h2 style="width: 387.5px;">¿Qué es Iluminame la Vida?</h2>
                        <p class="lead mb-0" style="width: 398.5px;">Más que un proyecto, es una idea que surge de la necesidad de crecer como programadores que próximamente entrarán a las estadías.</p>
                    </div>
                </div>

                <div class="row g-0">
                    <div class="col-lg-6 text-white order-lg-2 showcase-img" style="background-image: url('css/img/About/Osc.jpg');"><span></span></div>
                    <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                        <h2>Fácil de usar.</h2>
                        <p class="lead mb-0">Buscamos que nuestra página sea sencilla de usar y comprender para cualquier usuario que quiera reportar alguna falla.</p>
                    </div>
                </div>

                <br>
                <br>
            </div>
        </section>

        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Asosiaciones</h2>
                    <p>¿Te interesa saber más? Ingresa con solo un botón.</p>
                </div>


                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="css/Img/Ayun/Ayun2.jpg"></div>
                    <div class="col-md-6">
                        <h3>Funciones del ayuntamiento</h3>
                        <div class="getting-started-info">
                            <p>Formular, aprobar y expedir el Bando de Policía y Buen Gobierno y demás reglamentos, acuerdos y disposiciones carácter general que se requieren para la organización y funciones de la administración y de los servicios públicos.</p>
                        </div>
                        <a href="https://www.merida.gob.mx/municipio/portal/index.php" class="btn btn-outline-primary btn-lg" type="button">Visitar</a>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="css/Img/Ayun/UTM2.jpg"></div>
                    <div class="col-md-6">
                        <h3>Universidad Tecnologica Metropolitana</h3>
                        <div class="getting-started-info">
                            <p>
                                La Universidad Tecnológica Metropolitana es una institución pública de educación superior ubicada al sur de la ciudad de Mérida,
                                Yucatán (México) que inició operaciones en el 14 de mayo de 1999. Este instituto ofrece carreras con una duración de 2 años,
                                bteniéndose el título de Técnico Superior Universitario.
                            </p>
                        </div>
                        <a href="https://www.utmerida.edu.mx/" class="btn btn-outline-primary btn-lg" type="button">Visitar</a>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="css/Img/Ayun/CFE.jpg"></div>
                    <div class="col-md-6">
                        <h3>Comisión Federa de la Electricidad</h3>
                        <div class="getting-started-info">
                            <p>
                                La Comisión Federal de Electricidad es una empresa pública de carácter social que provee energía eléctrica, servicio fundamental para el desarrollo de una nación.
                                Es una empresa productiva del Estado, propiedad exclusiva del gobierno federal, con personalidad jurídica y patrimonio propio.
                            </p>
                        </div>
                        <a href="https://www.cfe.mx/Pages/default.aspx" class="btn btn-outline-primary btn-lg" type="button">Visitar</a>
                    </div>
                </div>

            </div>
        </section>

    <section class="text-center bg-light testimonials">
        <div class="container">
            <h2 class="mb-5">Un poco de nosotros, los programadores;)</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="css/Img/RF.png">
                        <h5>Rafael Cauich - Diseñador.</h5>
                        <p class="font-weight-light mb-0">Estudiante de programación que realmente disfruta trabajar con el&nbsp;<br>Front-end de las aplicaciones en general.<br></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="css/assets/img/avatars/avatar2.jpg">
                        <h5>Dr. Aurelio Mex - Docente.</h5>
                        <p class="font-weight-light mb-0">El doctor Aurelio Mex, fue quién nos introdujo a la tecnología de blazor, que fue con la que trabajamos este proyecto.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto testimonial-item mb-5 mb-lg-0">
                        <img class="rounded-circle img-fluid mb-3" src="css/Img/DN.png">
                        <h5>Daniel Puch - Programador.</h5>
                        <p class="font-weight-light mb-0">Estudiante de programación que disfruta trabajar con el back-end de las aplicaciones en general.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center text-white call-to-action" style="background:url(&quot;assets/img/bg-masthead.jpg&quot;) no-repeat center center;background-size:cover;"></section>


    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Procedimientos iniciales</h5>
                    <ul>
                        <li><a href="/home">Inicio</a></li>
                        <li><a href="/nuevo-registro">Registrarse</a></li>
                        <li><a href="/login">Iniciar Sesión</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Información</h5>
                    <ul>
                        <li><a href="/about">Información del proyecto</a></li>
                        <li><a href="https://www.facebook.com/MemesDeLaFederal4">Contactanos</a></li>
                        <li><a href="/reporte">Reportes</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>

                <div class="col-sm-3">
                    <h5>Acciones</h5>
                    <ul>
                        <li><a href="/nuevo-reporte">Reportar</a></li>
                        <li><a href="/reporte">Consultar reportes</a></li>
                        <li><a href="/counter">Contador de clics</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Iluminamelavida-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
</body>